#nav img {
  height: 25%;
  width: 25%;
  margin-bottom: 10px;
}

.checkboxes {
  margin-top: 10px;
  padding-top: 10px;
}

.horribleMarquee {
  color: red;
  font-size: 1.8em;
  padding: 15px 0px;
  animation: blink-animation .5s steps(5, start) infinite;
}

.theWorstMarquee {
  color: #00FF00;
  font-size: 2em;
  animation: blink-animation .3s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#userInput {
  margin-top: 10px;
}

.kill {
  margin-bottom: 5px;
}

#board {
  border:1px solid black;
  margin-bottom: 15px;
  min-height: 400px;
}

#board p, button {
  margin-left: 20px;
  margin-top: 10px;
}

#board button {
  border-radius: 5px;
}

/*DARK THEME STYLING*/
.darkTheme {
  background-color: #000;
  color: #00ff00;
  border-color: #FFF;
}


.container.darkTheme {
  border-color: #00ff00;
}

/*LARGE TEXT STYLING*/
.largeText {
  font-size: 2.25em;
}



