body {
  padding-top: 70px;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  font-family:'Galada', cursive;
}
.nav {
  display: inline;
}
.checkbox-inline {
  margin-left: 80px;
}

.board {
  border:1px solid black;
}

.board p, button {
  margin-left: 20px;
  margin-top: 10px;
}

.board button {
  border-radius: 5px;
}

/*DARK THEME STYLING*/
.darkTheme {
  background-color: #000;
  color: #00ff00;
  border-color: #00ff00;
}
.container.darkTheme {
  border-color: #00ff00;
}
/*LARGE TEXT STYLING*/
.largeText {
  font-size: 2.25em;
}

nav img {
  height:180px;
  width:200px;
}
