body {
  padding-top: 70px;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  font-family:'Galada', cursive;
}
.nav {
  display: inline;
}
.checkbox-inline {
  margin-left: 80px;
}
#inlineCheckbox1 {
  background-color: #000;
}
.darkTheme {
  background-color: #000;
  color: #00ff00;
  border-color: #00ff00;
}
.container.darkTheme {
  border-color: #00ff00;
}
button.btn.btn-default.darkTheme {
  color: #fff;
  border-color: #00ff00;
  background-color: #000;
}
